body {
    margin: 0px;
    padding: 0px;
}

/* main section  */
main {
    background-color: #E554731A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

}

.main-title-container {
    width: 520px;
}

.main-title {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.main-img {
    width: 435px;
    height: 600px;
    margin-top: 50px;

}

.primary-button {
    background-color: #E55473;
    border: none;
    color: white;
    padding: 16px 40px;
    border-radius: 8px;
}

/* Bonus section  */
.featured {
    width: 35%;
    margin: auto;
    margin-top: 60px;
    text-align: center;
}

.primary-font {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;

}

/* image background design  */
.pink-flower {
    background-color: #A7216226;
    width: 364px;
    height: 438px;
    border-radius: 200px 200px 0px 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* image positioning */
.flower-img {
    width: 210px;
    height: 338px;
    padding: 100px 68px 0px 66px;

}

.featured-flower {
    width: 90%;
    margin: auto;
    margin-top: 70px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

/* background change for last two flower tree  */
#flower1 {
    background-color: #0597A026;
}

#flower2 {
    background-color: #477D1126;
}

/* caption for all pictures  */
figcaption {
    text-decoration: underline;
    margin-top: 15px;
}

/* Hot deals  section  */
.hot-deals {
    background-color: #E554730D;
    display: flex;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    padding: 30px;

}

/* i need to use span tag again in the footer,but that one also same color. that's why i didn't use any class here! */
span {
    color: #E55473;
}

.deals-info {
    text-align: center;
    padding: 80px;
    width: 500px;
}

.deals-img {
    width: 200px;
    height: 300px;
}

/* My added section-- Home delivery service section  */
.delivery {
    height: 60vh;
    background-image: url(./bg-img/home-delivery.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.delivery-title {
    width: 70%;
    text-align: center;
    padding: 8%;


}

/* instagram image width define  */
.intagram-img {
    vertical-align: middle;
    display: table-cell;
    padding: 10px;
}

.intagram-img img {
    width: 100%;
}

/* instagram text information */
.intagram-container {
    display: table;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

/* Best seller  */
.seller-container {
    background-color: #E554731A;
    display: flex;
    gap: 10px;
    margin: auto;
    margin-top: 50px;
    justify-content: center;
    align-items: center;

}

.seller {
    width: 280px;
    box-shadow: 4px 4px 10px rgb(68, 61, 61);
    border-radius: 10px;
    align-items: center;
    text-align: center;
    margin-top: 0px;

}

.seller-img {
    width: 280px;
    height: 280px;
    border-radius: 10px 10px 0px 0px;

}

.seller-title {
    padding: 20px;
}

/* promotional and subscription section  */
.promotion {
    height: 50vh;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    background-image: url("./bg-img/Rectangle\ 9.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.subscription-title {
    text-align: center;
    padding: 40px;
}

.subscription {
    width: 450px;
    height: 45px;
    border-radius: 8px;
    margin-top: 5%;
    border: none;
}

/* Footer section  */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 10%;
    padding: 10px;
}

.copy {
    color: #FFFFFF66;
    padding: 10px;
}